<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pictureWipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A57B4C51D04420D00BA9D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A57B4DE1D04420D00BA9D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A57B4E91D04420D00BA9D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
